@import url('https://fonts.googleapis.com/css?family=Roboto');

//$xsPoint: 576px;
$smPoint: 576px;
$mdPoint: 768px;
$lgPoint: 992px;
$xlPoint: 1200px;

$base-font: 'Roboto';

html, body {
    width: 100%;
    overflow-x: hidden;
}

* {
    font-family: $base-font;
    font-weight: 100;
    font-size: 14px;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 60px;
    background-color: #1b5f75;
}

.main-top-container {
    position: relative;
    min-height: 50vh;
    width: 100%;

    background-image: url("../../assets/png/slide3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media all and (max-width: $lgPoint) {
        min-height: 150vh;
    }

    .dark-mask {
        position: absolute;
        width: 100%;
        height: 100%;

        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
}

.courses-item-cont {
    position: relative;
    background-color: #fff;
    padding: 15px 10px 20px 10px;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.329);

    .mini-img-cont {
        position: absolute;
        top: -10px;
        left: 20px;
        z-index: 5;

        width: 80px;
        height: 80px;
        padding: 15px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.329);

        img {
            width: 100%;
        }
    }

    .star-rating-cont {
        cursor: pointer;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 15px;

        img {
            display: inline-block;
            width: auto;
            max-width: 100%;
        }
    }
    .img-cont {
        img {
            width: 100%;
        }
    }

    .info-cont, .location-cont {
        padding: 0 10px;
    }

    .info-cont {
        .courses-title {
            position: relative;
            padding: 15px 30px;
            margin-bottom: 0;

            font-size: 18px;
            font-weight: 700;
            color: #000;
            line-height: 1.333;

            span {
                font: inherit;
                display: block;

                @media all and (max-width: $lgPoint) {
                    display: inline-block;
                }
            }

            &:before {
                position: absolute;
                top: 15px;
                left: 0;

                display: inline-block;
                content: '';
                background-image: url("../../assets/png/icon-check.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 20px;
                height: 20px;
            }
        }
        .courses-description {
            font-size: 14px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.8);
            line-height: 1.5;
        }
    }

    .line {
        background-color: rgba(0, 0, 0, 0.18);
        height: 1px;
    }

    .location-cont {
        .courses-location {
            position: relative;
            padding: 0 30px;
            margin-bottom: 0;

            font-size: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.702);
            line-height: 1.643;

            span {
                font: inherit;
                display: block;
            }

            &:before {
                position: absolute;
                top: 5px;
                left: 0;

                display: inline-block;
                content: '';
                background-image: url("../../assets/png/icon-map-gray.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 25px;
                height: 20px;
            }
        }
    }
}

.main-container {
    .main-container-wrapper {
        margin-top: -25vh;
        padding-bottom: 10vh;

        @media all and (max-width: $lgPoint) {
            margin-top: -130vh;
        }

        .container {
            @media all and (min-width: $xlPoint) {
                max-width: 1040px;
            }
        }

        .news-wrapper {

            .title-cont {
                color: #fff;
                margin-bottom: 40px;

                .main-title {
                    font-size: 40px;
                }
                .slogan-title {
                    font-size: 14px;
                }
            }

            .left-cont {
                order: 0;

                @media all and (max-width: $lgPoint) {
                    order: 1;

                    .title-cont {
                        text-align: center;
                        padding: 40px 0 0 !important;

                        .main-title {
                            font-size: 26px;
                        }

                        .slogan-title {
                            display: none;
                        }
                    }

                }

                .title-cont {
                    padding: 0 13%;

                    .main-title {
                        position: relative;

                        &:before {
                            position: absolute;
                            top: 0;
                            left: -55px;

                            display: inline-block;
                            content: url("../../assets/png/icon-leaflet.png");
                            width: 32px;
                            height: 32px;

                            @media all and (max-width: $lgPoint) {
                                position: static;
                                display: block;
                                margin: 0 auto;
                                margin-bottom: 10px;
                            }
                        }
                    }

                }
            }
            .right-cont {
                margin-left: -15px;

                order: 1;
                @media all and (max-width: $lgPoint) {
                    order: 0;
                    margin-left: 0;

                    .title-cont {
                        display: none;
                    }
                }
            }

            .news-items-cont {
                .news-item-cont {
                    background-color: #fff;
                    color: #000;
                    padding: 0 13%;
                    margin-bottom: 20px;
                    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.329);

                    @media all and (max-width: $lgPoint) {
                        padding: 0 6%;
                    }

                    .news-header-cont {
                        padding: 40px 0 30px 0;
                        cursor: pointer;

                        .news-header {
                            font-size: 24px;
                            font-weight: 900;

                            position: relative;

                            @media all and (max-width: $lgPoint) {
                                text-align: center;
                                font-size: 22px;
                            }

                            &:before {
                                position: absolute;
                                top: 0;
                                left: -55px;

                                display: inline-block;
                                content: url("../../assets/png/cap-icon.png");
                                width: 41px;
                                height: 34px;

                                transform: scale(0.75);

                                @media all and (max-width: $lgPoint) {
                                    position: static;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }

                            &:after {
                                position: absolute;
                                top: 0;
                                left: 100%;
                                //padding-left: 30px;

                                display: inline-block;
                                content: url("../../assets/png/icon-arrow-up.png");
                                width: 17px;
                                height: 28px;

                                transform: rotateZ(180deg);
                                transition: transform 0.4s;

                                @media all and (max-width: $lgPoint) {
                                    display: none;
                                }
                            }
                        }
                    }
                    .news-header-cont.active {
                        .news-header {
                            &:after {
                                transform: rotateZ(0);
                            }
                        }
                    }

                    .news-description {
                        display: none;

                        font-size: 14px;
                        font-weight: 700;
                        padding-bottom: 10%;
                        margin: 0;
                        line-height: 1.8;

                        &.active {

                        }
                    }
                }
            }
        }

        .courses-header {
            padding: 30px 40px;

            font-size: 28px;
            line-height: 1.2;
            font-weight: 400;
            color: #000;

            @media all and (max-width: $lgPoint) {
                padding: 20px 0;
                font-size: 16px;
            }
        }

        .courses-slider-cont {
            position: relative;

            .arrow {
                position: absolute;
                z-index: 5;
                top: 50%;
                transform: translateY(-50%);

                width: 65px;
                height: 55px;
                padding: 0;

                background-color: #fff;
                outline: 0;
                border: none;
                border-radius: 4px;

                cursor: pointer;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329);
                transition: box-shadow 0.4s;

                @media all and (max-width: $lgPoint) {
                    width: 45px;
                    height: 40px;
                }
                @media all and (max-width: $smPoint) {
                    display: none;
                }

                img {

                }

                &:hover {
                    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.329);
                }
            }
            .arrow-left-btn {
                right: calc(100% + 15px);
            }
            .arrow-right-btn{
                left: calc(100% + 15px);
            }

            .courses-slider {
                display: flex;

                .item {
                    position: relative;
                    z-index: 5;
                    padding: 15px 7.5px;

                    //width: 25%;

                }
            }
        }
    }
}